extends layout.pug

block content
    #chart(data-url="/stats/" + currentCity.id + "/" + currentDay)

    .container 
        .overflow-x-auto.mt-5
            nav.d-flex(aria-label='...')
                ul.pagination.mx-auto
                    each city in cities
                        li.page-item(aria-current='page' class=(city === currentCity) ? 'active' : '')
                            a.page-link(href='/weather/' + city.id + "/" + currentDay)=city.name




        .row.my-5
            .col
                ul.nav.nav-tabs.d-flex.justify-content-between
                    each day in days
                        li.nav-item.flex-fill
                            a.text-center.nav-link(href='/weather/' + currentCity.id + '/' + day, class=(day === currentDay) ? 'active' : '')= translateDayGerman(day)

        .row.mb-3 
            .col-sm-12.col-md-6.mb-3.mb-md-0
                .card.h-100
                    .card-header 
                        .h4.mb-0
                            = currentCity.name + " am " + day.toLocaleDateString("de-DE")


                    .card-body.p-0
                        .row.g-0.h-100
                            .col.d-flex.align-items-center.justify-content-center.mb-0.h4.p-4.bg-danger.text-white.text-center=max + " °C"
                            .col.d-flex.align-items-center.justify-content-center.mb-0.h4.p-4.bg-primary.text-white.text-center=min + " °C"
                            .col.d-flex.align-items-center.justify-content-center.mb-0.h4.p-4.bg-secondary-subtle.text-center=wind + " km/h"
                    .card-footer.d-flex.align-items-center
                        small.fw-light.me-auto Letzte Aktualisierung: 
                            = dateCache.toLocaleString("de-DE")
                        form(action="/refresh/" + currentCity.id + '/' + currentDay method="POST") 
                            input.btn.btn-sm.btn-outline-primary(type="submit" value="Refresh")

            .col-sm-12.col-md-6
                .card.h-100
                    .card-header 
                        .h4.mb-0 Wetter Text

                    .card-body= generatedText

                    form.card-footer(action="/generate/" + currentCity.id + '/' + currentDay, method="post")
                        input.btn.btn-sm.btn-outline-primary.float-end(type="submit" value="Generiere Text") 

        .row.mt-4
            each hour in grouped
                .col-xs-6.col-sm-3.col-lg.mb-3
                    .card.h-100
                        .card-header.text-center.no-wrap= hour.time
                        .card-body.text-center.d-flex.flex-column
                            i.h3(class=hour.iconImage)
                            br
                            h3.mt-2= hour.temperature + " °C"
                            p.mb-0.flex-fill.d-flex.align-items-center.justify-content-center= hour.icon
                        .card-footer 
                            p.mb-0.text-center= hour.wind + " km/h " 
                                abbr(title="Experimentell")= "(" + hour.windCompass + ")"

        hr.my-3
        .row 
            .col-sm-12.col-md-6
                h4 Wetterlage 
                div#chart-icon
            .col-sm-12.col-md-6
                h4 Temperatur und Regenmenge
                div#chart-preci

block scripts
    script(src='/charts.js')

